.vT {
  display: none;
}

.vM {
  display: none;
}

.vM-f {
  display: none;
}

@media only screen and (max-width: 1200px) {
  body {
    --headerH: 120px;
  }
  .nav {
    font-size: 1.8rem;
  }
  .header_right button {
    font-size: 1.4rem;
  }
  .header_logo {
    width: 165px;
  }
}
@media only screen and (max-width: 1024px) {
  .vP {
    display: none;
  }
  .vT {
    display: inline-block;
  }
  body {
    --headerH: 100px;
    font-size: 1.4rem;
  }
  .nav {
    font-size: 1.6rem;
  }
  .header_right button {
    font-size: 1.2rem;
  }
  .header_logo {
    width: 142px;
  }
  .gnb > li > a::after {
    top: 125%;
  }
  .gnb li.depth > div {
    line-height: 48px;
  }
  .s-main .layout_wrap {
    flex-direction: column;
  }
  .s-siteinfo .layout_wrap {
    flex-direction: column;
  }
  .s-siteinfo .layout_wrap .inwrap {
    width: 100%;
  }
  .s-siteinfo .layout_wrap .inwrap > div {
    max-width: 550px;
    margin: 0 auto;
  }
  .s-siteinfo .layout_wrap .inwrap img {
    width: 40%;
  }
  .s-siteinfo .layout_wrap .inwrap p {
    display: block;
  }
  .s-siteinfo .layout_wrap .commentBox {
    padding-top: 2rem;
    padding-bottom: 0;
  }
}
@media only screen and (max-width: 768px) {
  .vM {
    display: block;
  }
  .vM-f {
    display: flex;
  }
  .header_menu {
    flex-direction: column-reverse;
    justify-content: flex-end;
    padding: 30px 20px;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 100%;
    background-color: #fff;
    z-index: 99;
    transition: left 0.3s ease-in;
  }
  .header_menu.active {
    left: 0;
  }
  .gnb {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0;
  }
  .ham {
    position: relative;
    z-index: 100;
    cursor: pointer;
  }
  .ham.on span {
    display: none;
  }
  .ham.on::before, .ham.on::after {
    position: absolute;
  }
  .ham.on::before {
    transform: rotate(45deg);
  }
  .ham.on::after {
    transform: rotate(-45deg);
  }
  .calcMain .outerWrap .layout_wrap {
    flex-direction: column;
  }
  .calcMain .outerWrap form {
    width: 100%;
  }
  .calcMain #getResultSalesForm {
    position: relative;
  }
  .calcMain #getResultSalesForm .list_name h3 {
    padding-bottom: 0;
  }
  .calcMain #getBtn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  .calcMain #resultForm {
    margin-top: 4rem;
  }
  .calcMain #resultForm .btn_area.je {
    justify-content: center;
  }
  .calcMain #resultForm .res input {
    font-size: 2.4rem;
  }
  .calc h3, .diagnosis h3 {
    font-size: 1.6rem;
  }
  .diagnosis .h-btn,
.diagnosis .layout_wrap_in {
    padding-left: 20px;
    padding-right: 20px;
  }
  .diagnosis .tab_header .inwrap {
    flex-direction: column;
    align-items: flex-start;
  }
  .diagnosis .tab_header .inwrap > div:nth-child(2) {
    padding-top: 2rem;
  }
  .diagnosis .tab_btn li {
    height: 3.8rem;
    font-size: 1.2rem;
  }
  .diagnosis .tab_cont {
    padding-top: 0;
    padding-bottom: 0;
  }
  .diagnosis .tab_chart > div, .diagnosis .tab_fc > div, .diagnosis .tab_brand > div {
    flex-direction: column;
  }
  .diagnosis .tab_inwrap {
    width: 100%;
  }
  .diagnosis .tab_inwrap:nth-child(n+2) {
    padding-top: 4rem;
  }
  .diagnosis .tab_footer .btn_area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .diagnosis .tab_footer .btn_area button {
    margin: 5px 2.5px;
  }
}/*# sourceMappingURL=responsive.css.map */