.vT{display: none;}
.vM{display: none;}
.vM-f{display: none;}
@media only screen and (max-width: 1200px) {
    body{
        --headerH: 120px;
    }
    .nav{
        font-size: 1.8rem;
    }
    .header_right button{
        // width: 15rem;
        font-size: 1.4rem;
    }

    .header_logo{
        width: 165px;
    }
}
@media only screen and (max-width: 1024px) {
    .vP{display: none;}
    .vT{display: inline-block;}

    body{
        --headerH: 100px;
        font-size: 1.4rem;
    }
    .nav{
        font-size: 1.6rem;
    }
    .header_right button{
        // width: 15rem;
        font-size: 1.2rem;
    }
    .header_logo{
        // width: 70px;
        width: 142px;
    }
    .gnb > li > a::after{
        top: 125%;
    }
    .gnb li.depth > div{
        line-height: 48px;
    }
    .s-main .layout_wrap{
        flex-direction: column;
    }
    .s-siteinfo .layout_wrap{
        flex-direction: column;
        .inwrap{
            width: 100%;
            >div{
                // width: 75%;
                max-width: 550px;
                margin: 0 auto;
            }
            img{
                width: 40%;
            }
            p{
                display: block;
            }
        }
        .commentBox{
            padding-top: 2rem;
            padding-bottom: 0;
        }
    }
}
@media only screen and (max-width: 768px) {
    .vM{
        display: block;
    }
    .vM-f{
        display: flex;
    }
    .header{
        &_menu{
            flex-direction: column-reverse;
            justify-content: flex-end;
            padding: 30px 20px;
            position: absolute;
            width: 100vw;
            height: 100vh;
            top: 0;
            left: 100%;
            background-color: #fff;
            z-index: 99;
            transition: left .3s ease-in;
            &.active{
                left: 0;
            }
        }
    }
    .gnb{
        flex-direction: column;
        align-items: flex-start;
        padding: 20px 0;
    }
    .ham{
        position: relative;
        z-index: 100;
        cursor: pointer;
        &.on{
            span{
                display: none;
            }
            &::before,
            &::after{
                position: absolute;
            }
            &::before{
                transform: rotate(45deg);
            }
            &::after{
                transform: rotate(-45deg);
            }
        }
    }
    #loginForm{
    }
    .calcMain{
        .outerWrap{
            .layout_wrap{
                flex-direction: column;
            }
            form{
                width: 100%;
            }
        }
        #getResultSalesForm{
            position: relative;
            //prt
            .list_name{
                h3{
                    padding-bottom: 0;
                }
            }
        }
        #getBtn{
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
        }
        #resultForm{
            margin-top: 4rem;
            .btn_area.je{
                justify-content: center;
            }
            .res input{
                font-size: 2.4rem;
            }
        }
    }
    .calc h3, .diagnosis h3{
        font-size: 1.6rem;
    }
    .diagnosis{
        .tab{
            &_header{
                .inwrap{
                    flex-direction: column;
                    align-items: flex-start;
                    >div:nth-child(2){
                        padding-top: 2rem;
                    }
                }
            }
            &_btn{
                li{
                    height: 3.8rem;
                    font-size: 1.2rem;
                }
            }
            &_cont{
                padding-top: 0;
                padding-bottom: 0;
            }
            &_chart,
            &_fc,
            &_brand{
                > div{
                    flex-direction: column;
                }
            }
            &_inwrap{
                width: 100%;
                &:nth-child(n+2){
                    padding-top: 4rem;
                }
            }
            &_footer{
                .btn_area{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    button{
                        margin: 5px 2.5px;
                    }
                }
            }
        }
    }
}